@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

#main {
    margin-top: 12px;
    height: 100vh;
    width: 100vw;
    @include flex(column, center, flex-start);
    margin-bottom: 50px;
}
h1 {
    font-size: 42px;
	margin-bottom: 6px;
}
h3 {
    font-size: 22px;
	margin-top: 8px;
}
a {
    text-decoration: none;
}
button{
	border: none;
	background-color: none;
	border-radius: 10%;
    margin: 0px;
    height: 145px;
    background-color: white;

}
button:hover{
		cursor: pointer;
		background-color: none;
        transform: scale(1.1);
        background-color: white;
}
button:focus{
		outline: none;
}